.all {
  width: auto;
  height: 50px;
  border-radius: 5px;
  border: 0;
  background-color: rgba(33, 150, 243, 1);

  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
